body {
    margin:0;
    padding: 0;
    text-align: center;
    background-color: #1E1E1E;
    font-family: arial, helvetica, sans-serif;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
    color: #E2E2E2;
    background-color: black; 
   
}

h2 {
   margin: 1em 0 0.25em;
    
}

h2:first-of-type {
   margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}
#pixelCanvas{
    background-color: silver;
}

table {
    border-collapse: collapse; 
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}


.cont_1a {
    margin: auto;
    padding: 10px;
    background-color: #1E1E1E;
    border-radius: 5px;
    display: flex;
    color: #E2E2E2;
    border: 1px solid black;
    
}
.cont_1b{
    margin: auto;
    display: flex;
}

.grid_height, .grid_width, .background_color, .drawing_color, #link_div, .submit{
    margin-left: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#link_div{
    font-weight: 5px;
    text-align: bottom center;
    font-family: arial, helvetica, sans-serif;
    font-size: 18px;
    margin-top: 20px;
}
.link{
    color: #FF8282;
    text-decoration: underline;
    font-family: arial, helvetica, sans-serif;
    font-size: 19px;
}
#grid_height, #grid_width, #background_color, #drawing_color, #submit{
    display: block;
}

#submit{
    margin-bottom: 7px;
}
#submit_form{
    height: 25px;
    margin-top: 10px;
}

.canvas_and_table_div{
    color: silver;
    margin: auto;
    /*border: 1px solid white;*/     /*uncomment this line to see the current size of this*/
    /*width: 1400px;*/ /*uncomment this line to set the size of this div*/
}

.table_div{
    border: 1px solid black;
    width: 1300px;
    margin: auto;
    box-shadow: 0 0 20px black;
}



